.vehica-car-form__switcher-wrapper {
  background-color: var(--white);
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 19px;
  }

  .vehica-car-form__switcher {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    height: 24px;
    width: 40px;
    @media(min-width: 767px) {
      height: 32px;
      width: 60px;
      margin-left: 30px;
      margin-right: 30px;
    }
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .vehica-car-form__switcher__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 5px;
      bottom: 5px;
      @media (min-width: 768px) {
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
      }
      background-color: var(--primary);
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }

  input:checked + .vehica-car-form__switcher__slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    @media (min-width:768px) {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

}

.vehica-car-form__switcher__option {
  display: inline;
  transition: all 0.2s ease;
  &:hover {
    cursor: pointer;
    color: var(--primary);
  }
}

.vehica-car-form__switcher__option--active {
  color: var(--primary);
}
