@mixin vehica-field() {
  min-height: 53px;
  border-radius: 10px;
  width: 100%;
  padding: 10px 27px;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: 1px solid #e7edf3;
  background: #fff;
  &::placeholder {
    color: #2f3b48;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
}