.vehica-car-form__section--attachment {
  .dz-image img {
    height: 50px !important;
    width: 50px !important;
    left: 0;
    right: 0;
    margin: -25px auto 0;
    top: 50% !important;
    position: absolute !important;
  }
}
