.vehica-car-card__featured {
  position: absolute;
  z-index: 2;
  background: var(--primary);
  width: auto;
  padding: 3px 0px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  transform: rotate(-41deg);
  margin-left: 0;
  left: -64px;
  top: 16px;
  min-width: 200px;
  max-width: 200px;
}

