.vehica-car-card__labels {
  position: absolute;
  left: 22px;
  top: 22px;
  z-index: 20;
}

.vehica-car-card__label {
  display: inline-block;
  float: left;
  padding: 0 11px;
  border-radius: 4px;
  font-weight: bold;
  background: var(--primary);
  text-transform: uppercase;
  color: #fff;
  margin-right: 5px;
  line-height: 20px;
  font-size: 12px;
}