.elementor-widget-icon-list {
  ul {
    list-style: none;
    padding: 0;
    @media (min-width: 1200px) {
      padding: 0 0 0 5px;
    }
    color: #99a1b2;
  }
  i {
    color: var(--primary);
  }
}