.vehica-user-address {
  font-size: 14px;
  line-height: 18px;
  padding-left: 26px;
  position: relative;
  color: #222732;
  i {
    color: var(--primary);
    margin-right: 9px;
    top: 2px;
    position: absolute;
    left: 0;
  }
}