/* Accordion */
.vehica-accordion {
  @media (min-width: 500px) and (max-width: 899px) {
    margin: 0 15px;
  }
  .elementor-accordion-item {
    margin-bottom: 16px;
    border: 0 solid transparent;

    .elementor-tab-title {
      border: 1px solid #e7edf3;
      border-radius: 10px;
      transition: border-radius, border-color 0.1s linear;
      font-size: 17px;
      font-weight: 500;
      line-height: 25px;
      @media (min-width: 900px) and (max-width: 1023px) {
        font-size: 15px;
      }
    }

    .elementor-accordion-icon {
      position: relative;
      top: 4px;
      margin-left: 15px;
    }

    .elementor-active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-color: var(--primary);
    }

    .elementor-tab-content {
      border: 1px solid #e7edf3;
      border-top: 0 solid transparent;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      transition: border 0s linear;
    }

    .elementor-active + .elementor-tab-content {
      border-color: var(--primary);
    }
  }
}