/* Comment cookie consent - e.g. "Save my name, email, and website in this browser for the next time I comment." */
.vehica-comments {
  .comment-form-cookies-consent {
    margin: 5px 8px 15px 8px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: #6d6d6d;
    max-width: 360px;
    @media (min-width: 768px) {
      margin-top: 15px;
    }
    @media (min-width: $min-hover-width) {
      &:hover {
        color: var(--primary) !important;
        label {
          color: var(--primary) !important;
        }
      }
    }
    input {
      position: absolute;
      opacity: 0;
      & + label {
        font-size: 15px;
        line-height: 20px;
        display: block;
        position: relative;
        cursor: pointer;
        min-height: 20px;
        padding: 0 0 0 31px;
        color: #2f3b48;
      }
      & + label:before {
        position: absolute;
        top: 2px;
        left: 0;
        content: '';
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
      }
      &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }
      &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
      }
      &:checked + label:after {
        content: '\f00c';
        position: absolute;
        font-family: "Font Awesome 5 Free";
        left: 5px;
        font-weight: 900;
        color: #fff;
        font-size: 11px;
        top: 2px;
      }
      &:checked + label {
        color: #2f3b48;
      }
    }
  }
  .comment-form-cookies-consent input:checked + label:before {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
  }
}