.vehica-reset-password {
  &:after {
    content: '';
    position: absolute;
    right: -150%;
    top: 0;
    width: 300%;
    height: 100%;
    display: block;
    background: #f2f5fb;
    z-index: -1;
  }
  input {
    @include vehica-field;
    float: left;
  }

  .vehica-reset-password__title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 900;
    margin-bottom: 9px;
    text-align: center;
  }

  .vehica-reset-password__subtitle {
    margin-bottom: 30px;
    text-align: center;
  }

  .vehica-reset-password__inner {
    padding: 50px 15px;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    @media (min-width: 500px) {
      max-width: 477px;
      padding: 80px 30px 80px 30px;
    }
    @media (min-width: 900px) {
      padding: 150px 30px 150px 30px;
    }
  }

  .vehica-reset-password__field {
    max-width: 300px;
    margin: 0 auto;
    @include clearfix();
  }

  .vehica-reset-password__button {
    max-width: 300px;
    margin: 15px auto 0 auto;
    @include clearfix();
    .vehica-button {
      width: 100%;
    }
  }
  .vehica-login-register-car {
    display: none !important;
  }
}

.vehica-reset-password__form {
  max-width: 300px;
  margin: 0 auto;
}

.vehica-reset-password__back {
  font-size: 14px;
  text-align: center;
  padding-top: 50px;
  a {
    color: var(--primary);
    &:hover {
      text-decoration: underline;
    }
  }
}

.vehica-set-password {
  margin: 30px 0 30px 0;
  @include clearfix;
  .vehica-field--validation-required__tip {
    top: 58px;
  }
}