/* Template Content */
.vehica-template-content {
  background: #333;
  color: #fff;
  margin: 0;
  padding: 200px 64px;
  min-height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vehica-template-content__icon {
  margin-bottom: 16px;
}