.vehica-car-features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.vehica-car-feature {
  position: relative;
  color: #a7a8a8;
  display: inline-block;
  line-height: 28px;
  font-size: 16px;
  span {
    padding-right: 23px;
  }
  i {
    position: absolute;
    top: 1px;
    right: 8px;
    font-size: 5px;
    height: 28px;
    line-height: 28px;
    color: var(--primary);
  }
  &:last-child {
    i {
      display: none;
    }
  }
}