.vehica-3-fields {
  @include clearfix;
  display: flex;
  align-items: center;
  flex-direction: column;
  & > div {
    float: left;
    width: 100%;
    margin: 0 8px;
  }
  @media (min-width: 900px) {
    margin: 0 -8px;
    flex-direction: row;
    justify-content: space-between;
    & > div {
      float: left;
      width: 33.33%;
      margin: 0 8px;
    }
  }
}